@import url(./reset.css);


:root {
  --app-dark-bg: #1a1d28;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange1: #ff833c;
  --app-orange2: #f18115;
  --app-lighter-orange: #ffb300;
  --app-dark-blue: #1a2649;
  --app-lighter-blue: #506290;
  --app-medium-blue: #283862;
  --app-grey: #b4b3bd;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
}

body {
  background-color: #f1f2f3;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/*-------------------------------------------*/
/*      Header                               */
/*-------------------------------------------*/

header {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: var(--app-dark-blue);
}

h1 {
  margin-left: 15px;
  color: var(--app-orange1);
  line-height: 60px;
  font-size: 32px;
}

figure img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 60px;
  margin-top: 10px;
  margin-right: 15px;
  border: #929090 solid 1px;
}

nav {
  margin-right: 70px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

nav ul li + li {
  margin-left: 20px;
} 

nav ul li a:hover {
  color: var(--app-orange1);
}


/*--------------- Main ----------------------*/

main {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  height: 100vh - 60px - 110px;
}

/*-------------------------------------------*/
/*      Profile                              */
/*-------------------------------------------*/

.profile {
  background-color: #fff;
  height: 420px;
  border-radius: 7px;
  margin-top: 50px;
  width: 300px;
  text-align: center;
  margin-right: 40px;
}

.profile .edit {
  position: relative;
}

.profile .edit i {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  color: #d8d8da;
  cursor: pointer;
}

.profile img {
  margin: auto;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}

.profile h3 {
  margin-top: 10px;
  font-size: 22px;
}

.brief {
  margin-top: -8px;
  font-size: 14px;
  color: #b1adad;
}

.follow {
  display: flex;
  margin-top: 25px;
}

.follow > div {
  width: 50%;
  margin-inline: auto;
  border-top: 2.5px solid #f1f2f3;
  border-bottom: 2.5px solid #f1f2f3;
  padding: 10px 0;
}

.followers {
  border-right: 2.5px solid #f1f2f3;
}

.follow div .number {
  font-size: 18px;
  font-weight: 700;
}

.follow div .text {
  font-size: 15px;
  font-weight: 500;
  color: #b1adad;
  margin-top: 0;
}

.profile .icon1, .profile .icon2 {
  width: 100%;
  font-size: 14px;
  color: #b1adad;
  text-align: left;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.profile .icon1:hover, .profile .icon2:hover {
  color: #09f;
}


.icon1 {
  margin-top: 20px;
}

.profile .icon1 i, .profile .icon2 i {
  margin-left: 30px;
  margin-right: 15px;
}

.icon2 {
  padding-bottom: 20px;
  border-bottom: 2.5px solid #f1f2f3;
}

.profile button {
  text-align: center;
  background-color: #f1f2f3;
  color: #09f;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.profile button:hover {
  color: #0c8ce2;
}

/*-------------------------------------------*/
/*      Form                                 */
/*-------------------------------------------*/

form {
  height: 100vh - 60px - 110px;
  margin-top: 50px;
}

textarea {
  height: 200px;
  width: 600px;
  background-color: #fff;
  padding: 10px;
  resize: none;
  border-radius: 7px;
  color: #000;
}

.row {
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: -15px;
  border-radius: 7px;
}

input[type=file] {
  display: none;
}

label i {
  margin-left: 10px;
  margin-top: 15px;
  color: var(--app-orange1);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

label i:hover {
  color: var(--app-orange2);
}

#file-name {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  margin-left: 5px;
  line-height: 40px;
}

input[type=button] {
  width: 70px;
  height: 30px;
  background-color: var(--app-orange1);
  color: #fff;
  border-radius: 7px;
  margin-right: 10px;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}

input[type=button]:hover {
  background-color: var(--app-orange2);
}

/*-------------------------------------------*/
/*      Post                                 */
/*-------------------------------------------*/


.post {
  width: 600px;
  height: auto;
  border-radius: 7px;
  margin: auto;
  min-height: 0px;
  background-color: #fff;
  padding-bottom: 1px;
  margin-top: 20px;
}

.post header {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
}

.post header .fig-name {
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.post header .fig-name .name {
  line-height: 60px;
  font-weight: 600;
}

.post header .date {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 15px;
  line-height: 60px;
  color: #b1adad;
}

.post .text {
  margin: 15px 15px 15px 17px;
}

.post .image {
  margin: 15px;
  margin-top: 0px;
}

.post .image img {
  width: 580px;
  margin: 0 15px 15px 15px;
  margin: auto;
  border-radius: 7px;
}



/*-------------------------------------------*/
/*      People                               */
/*-------------------------------------------*/

.people {
  width: 300px;
  max-height: 1020px;
  background-color: #fff;
  border-radius: 7px;
  margin-top: 50px;
  margin-left: 40px;
  padding: 10px;
}

.people h3 {
  text-align: center;
  color: #929090;
  font-weight: 500;
  margin-bottom: 10px;
}

.people .person {
  min-height: 80px;
  display: flex;
  border-top: 2.5px solid #f1f2f3;
  padding: 4px;
  cursor: pointer;
}

.people .person img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #09f;
  margin-top: 5px;
  margin-left: 5px;
}

.person-details {
  margin-top: 12px;
  margin-left: 10px;
}

.person-details .name {
  font-weight: 600;
}

.person-details .city {
  color: #929090;
  font-size: 14px;
}


/*-----------------------------------------------------*/
/* Footer                                              */
/*-----------------------------------------------------*/

footer {
  background-color: var(--app-dark-blue);
  height: 110px;
  margin-top: 100px;
}

.fflex {
  text-align: center;
  color: #fff;
}

.fflex .name {
  font-size: 24px;
}

.fflex .copy {
  margin-bottom: 15px;
  color: #fff;
}

.fflex .policy {
  display: flex;
  justify-content: center;
}

.fflex .policy p a {
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.fflex .policy p a:hover {
  color: var(--app-orange1);
}